<!-- NAV BAR -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Tucker</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop<a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sell</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <a class="nav-link" href="#">Login</a>
    </form>
  </div>
</nav>

<!-- Container for Category Column and Product Gallery -->

<div class="columnContainer">

<!-- Category Column -->
  <div class=" categoryColumn">
    <script id="categoryColumntemplate" type="text/x-handlebars-template">
      <ul>
      {{#each productCategory}}
      <li><form action="/?_method=PUT" method="GET">
          <a class="nav-link" href="#" value="{{this}}"></a>
          </form>
      </li>
      {{/each}}
    </ul>
    </script>
  </div>

<!-- Product Gallery -->
  <div class="productGallery">
  <script id="productCardTemplate" type="text/x-handlebars-template">
  {{#each Product}}
  {{#if productCategory}}
  <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="{{img}}" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{name}}Food Item</h4>
        <h4 class="card-title">{{price}}Food Item</h4>
        <p class="card-text">{{productName.description}} Some quick example on each food item</p>
        <a href="#" class="btn btn-primary">Open bigger modal</a>
      </div>
  </div>
  {{/if}}
  {{/each}}
  </script>
  </div>

</div>
