
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Tucker</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop<a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sell</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <a class="nav-link" href="#">Login</a>
        </form>
      </div>
    </nav>

<!-- Container for Store Options  -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Manage Products</h1>
    <p class="lead">View and edit all items carried in your store</p>
  </div>

  <div class="container">
<!-- Products Table -->
      <table class="table table-hover table-sm table-responsive">
          <thead class="thead-default">
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Price</th>
                <th>In Stock</th>
                <th>Discounted (Boolean)</th>
                <th>Discounted Price</th>
            </tr>
          </thead>
          <tbody>
            {{#each products}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.ProductDescription.productName}}</td>
                    <td>{{this.ProductDescription.description}}</td>
                    <td>{{this.price}} $</td>
                    <td>{{this.inStock}}</td>
                    <td>{{this.discounted}}</td>
                    <td>{{this.discountedPrice}}</td>
                    <td><button type="button" class="btn btn-secondary btn-sm">View / Edit</button></td>
                </tr>
            {{/each}}
          </tbody>
      </table>
    </div>
</div>



    <!-- FOOTER -->
    <footer>
      <div class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Tucker, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
    </footer>

    </div><!-- /.container -->

